html { 
    background: url("../img/yose1.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p {
    line-height: 1.5;
  }
  
.form-container{
    margin: 20px;
    max-width: 1000px;
    padding: 75px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.6)
}
  
.search {
    min-width: 15vh;
}
  
.card{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
    background: url("../img/card-bg.png");
    background-size: cover;
}

.weather-card{
    background: url("../img/wc1.png");
    max-width: 40vh;
    margin: auto;
}
  
.column{
    display: flex;
    margin: auto;
}

.uvIndex{
    line-height: 1.35;
}

.uvIndex span{
    border-radius: 5px;
    padding: 0px 4px 0px 4px;
}

.uvi-low{
    background-color: green;
}

.uvi-moderate{
    background-color: yellow;
    color: #363636;
}

.uvi-high{
    background-color: #A56A00;
}

.uvi-vhigh{
    background-color: #EE0000;
    background-size: contain;
}

.uvi-extreme{
    background-color: violet;
}

.favorite-btn{
    border: none;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    align-items: center;
    background-color: #C0C0C0;
    margin-left: 20px;
}

.fa-heart:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all .2s ease-in-out;
}

.fa-heart{
    margin-top: 3px;
}

.custom-state-btn{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}